@import url('https://fonts.googleapis.com/css?family=Cabin|DM+Serif+Display|Lobster|Roboto&display=swap');

body {
    background: linear-gradient(to bottom, #ffddd9, #ccddff);
}

header {
    width: 100%;
    text-align: center;
    top: 0;
}

.linha-decorativa {
    /*position: absolute;*/
    top: 0;
    height: 50px;
}

.btn {
    padding: 10px;
    border: 2px solid black;
}

.gradiente-3 {
    background: linear-gradient(to right, #e44656, #95afff);
}

.post-container {
    display: block;
    margin: auto auto 50px auto;
    width: 60%;
    max-width: 700px;
    background-color: #fffcf2;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;

    border-top: 5px solid #e44656;
    border-bottom: 5px solid #e44656;
}

.post-container form {
    display: inline-block;
}

.btn-container {
    display: block;
}

.btn-sair {
    position: absolute;
    right: 30px;
    top: 25px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: transparent;
    border: 1px solid white;
    text-decoration: none;

    background: linear-gradient(to top, #6b7fe4, #ff6c9c);

    transition: .3s;
}

.btn-sair:hover {
    background: #e44656;
    box-shadow: 0 3px 5px rgba(0,0,0,.5);
    color: transparent;
}

.usr-info {
    background-color: #e6e6e6;
    text-align: center;
    padding: 15px;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    border-bottom: 5px solid #e44656;
    margin-bottom: 25px;
}

.usr-info span {
    display: block;
    margin-top: 10px;
}

.usr-info .usrFullName {
    margin-top: 20px; /* Overwrites std */
    font-size: 3em;
    font-family: 'Lobster', serif;
}

.usr-info .usrNickName {
    font-size: 2em;
    font-family: 'Roboto', serif;
    cursor: pointer;
}

.usr-info .usrNickName:hover {
    color: #e44656;
    text-shadow: 0 3px 5px rgba(0,0,0,.2);
}

.top-container {
    margin: auto;
    width: 60%;
    max-width: 700px;
}

.img-pontuacao {
    margin-top: 25px;
    width: 45%;
    max-width: 450px;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    border: 2px solid white;
    border-radius: 10px;
}

.post-usrmsg {
    display: block;
    margin: 25px auto 25px auto;
    font-size: 3em;
    text-align: center;
}

.post-btn-usrname {
    font-size: 1.2em;
}

.btn-container {
    margin-top: 50px;
}

.btn-container:hover .post-btn-like, .btn-container:hover .post-btn-deslike {
    color: white;
    text-shadow: 0 3px 5px rgba(0,0,0,.2);
}

.post-btn-like {
    background-color: #4ee39a;
}

.post-btn-deslike {
    background-color: #e3574f;
}

.post-btn-like, .post-btn-deslike {
    width: 100px;
    height: 50px;
    transition: .2s;
    color: transparent;
}

.subtop-container {
    margin-bottom: 50px;
    text-align: center;
}

.subtop-container h2 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: 'Lobster', serif;
    font-size: 1.4em;
}

#btn-carregar-mais {
    display: block;
    margin: auto auto 50px auto;
    width: 55%;
    height: 50px;
    font-size: 1.3em;
}